/* game board table */

p {
  text-align: center;
  font-size: 2em;
  ;
}

#start {
  width: 410px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

input {
  width: 30%;
}

button {
  width: 30%;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

/* .piece.p1 {
  background-color: red;
}

.piece.p2 {
  background-color: blue;
} */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}